<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="customer" class="com.learning.spring.debug.custom.editor.Customer">
        <property name="name" value="lisi"></property>
        <property name="address" value="江西省_赣州市_南康区"></property>
    </bean>


    <!--配置方式1-->
    <!--<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">-->
    <!--    <property name="propertyEditorRegistrars">-->
    <!--        <list>-->
    <!--            <bean class="com.learning.spring.debug.custom.editor.AddressPropertyEditorRegistrar"></bean>-->
    <!--        </list>-->
    <!--    </property>-->
    <!--</bean>-->

    <!--配置方式2-->
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.learning.spring.debug.custom.editor.Address">
                    <value>com.learning.spring.debug.custom.editor.AddressPropertyEditor</value>
                </entry>
            </map>
        </property>
    </bean>

    <!--自定义实现BeanFactoryPostProcessor-->
    <!--可以通过MyClassPathXmlApplicationContext#customizeBeanFactory方法 super.addBeanFactoryPostProcessor(new CustomBeanFactoryPostProcessor()); 配置-->
    <!--<bean class="com.learning.spring.debug.custom.bfpp.CustomBeanFactoryPostProcessor"></bean>-->

</beans>