<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">


    <!--通过supplier创建bean对象-->
    <bean id="astronaut" class="com.learning.spring.debug.custom.supplier.Astronaut"/>
    <bean id="supplierBeanFactoryPostProcessors" class="com.learning.spring.debug.custom.supplier.SupplierBeanFactoryPostProcessors"/>

    <!--通过静态工厂创建bean对象-->
    <bean id="spacecraft01" class="com.learning.spring.debug.custom.supplier.SpacecraftFactory" factory-method="create"/>

    <!--通过实例工厂创建bean对象-->
    <bean id="spacecraftFactory" class="com.learning.spring.debug.custom.supplier.SpacecraftFactory"/>
    <bean id="spacecraft02" class="com.learning.spring.debug.custom.supplier.Spacecraft" factory-bean="spacecraftFactory" factory-method="build"/>

</beans>