<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="customService" class="com.learning.spring.debug.custom.instantiation_aware_bean_post_processors.CustomService"/>
    <bean id="timeService" class="com.learning.spring.debug.custom.instantiation_aware_bean_post_processors.TimeService"/>
    <bean id="customInstantiationAwareBeanPostProcessors" class="com.learning.spring.debug.custom.instantiation_aware_bean_post_processors.CustomInstantiationAwareBeanPostProcessors"/>
</beans>